<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="h-ui/css/H-ui.min.css" th:href="@{h-ui/css/H-ui.min.css}"/>
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.min.css" th:href="@{lib/Hui-iconfont/1.0.8/iconfont.min.css}"/>
<!--[if lt IE 9]>
<link href="h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" th:href="@{h-ui/css/H-ui.ie.css}"/>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style type="text/css">
.ui-sortable .panel-header{ cursor:move}
</style>
<title>PassKeeper在线密码库</title>
<meta name="keywords" content="passkeeper,密码库,password">
<meta name="description" content="为您在线保存密码，安全、便捷！">
</head>
<body ontouchstart>
    <div class="panel panel-default">
        <div class="panel-header">登录</div>
        <div class="panel-body">
            <form action="/getlogin" method="post" class="form form-horizontal responsive" id="demoform">
                <div class="row cl">
                    <label class="form-label col-xs-3">用户名：</label>
                    <div class="formControls col-xs-8">
                        <input type="text" class="input-text" placeholder="用户名" name="userName" id="userName">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-3">密码：</label>
                    <div class="formControls col-xs-8">
                        <input type="password" class="input-text" autocomplete="off" placeholder="密码" name="password" id="password">
                    </div>
                </div>
                <div class="row cl">
                    <div class="form-label col-xs-3"></div>
                    <div class="formControls col-xs-8">
                        <button class="btn btn-primary radius" type="button" onclick="login()">登陆</button>
                        <button class="btn btn-primary radius" type="button" onclick="register()">注册</button>
                        <p id="error"  class="size-L" style="display:inline-block;height:20px;color:red;"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="lib/jquery-ui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="lib/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>
    <script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
    <script>
    	function login(){
    		$("#demoform").submit();
    	}
        function login1(){
            var username = $("#username").val();
            var hash = $("#password").val();
            var str = { "username" : username, "pass" : hash };
            $.ajax({
                type: 'POST',
                url: 'login/valid',
                dataType: 'json',
                data : JSON.stringify(str),
                contentType : "application/json",
                success: function(data){
                    var json = data;//eval("("+data+")");
                    if(json.code=="1"){
                        window.location.href=json.index;
                    }else{
                        $("#error").html("用户名或密码输入错误!");
                    }
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });	
        }
        function register(){
        	$("#error").html("测试中，暂不开放注册!");
        }
    </script>
</body>
</html>